<!-- Portfolio Grid Section -->
<section id="portfolio" [ngsReveal]="{ reset: true}">
  <div class="container-fluid">
    <h2 class="text-center">Qui sommes nous </h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
        <p class="">Partenaire de votre quotidien, notre ambition est de participer à un nouvel art de vie qui permettrait de ne plus
          se préoccuper des corvées ménagères, et de savoir sur qui compter en cas de besoin. </p>
        <p>Parce que le choix d’une aide à domicile pour vous ou vos proches est bien souvent source d’embarras et d’inquiétudes,
          notre association souhaite vous assister dans cette démarche en mettant à votre disposition leur expérience et
          leur savoir-faire pour répondre au mieux à vos attentes. </p>

        <br>

        <p class="align-text-center"><strong>Une approche humaine et professionnelle </strong></p>
        <br>
        <p class="align-text-center"><strong>Des équipes réactives engagées à vos côtés  </strong></p>
        <br>
        <br>
      </div>

    </div>
  </div>
</section>

<!-- About Section -->
<section class="success" id="about" [ngsReveal]="{ reset: true}">
  <div class="container">
    <h2 class="text-center">Pourquoi Aides 78 </h2>
    <hr class="star-light">
    <div class="row" [ngsReveal]="{ reset: true}">
      <div class="col-lg-12 ml-auto">
        <h3><strong>Charte de Qualité  </strong></h3>
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <p class="align-text-left"><strong>La qualité de nos services : </strong>garantie « satisfait, refait ou remboursé ». </p>
        <p class="align-text-left"><strong>Notre professionnalisme : </strong>sélection draconienne de nos intervenants, ils sont formés, et évalués
          continuellement, par des équipes d’encadrements rigoureuses et disponibles. </p>
        <p class="align-text-left"><strong>Rapidité & ponctualité  : </strong> Nous traitons rapidement votre demande et respectons scrupuleusement
          les horaires des rendez-vous </p>

      </div>
    </div>
    <div class="row spacing-top " [ngsReveal]="{ reset: true}">
      <div class="col-lg-12 ml-auto">
        <h3 class=""><strong>Charte de Sécurité   </strong></h3>
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <p class="align-text-left"><strong>Vous n'êtes pas l'employeur  : </strong><br>Vous n'avez aucune démarche administrative à effectuer en faisant
          appel à notre association. </p>
        <p class="align-text-left"><strong>Seules les heures effectuées sont payées :</strong><br>Possibilité d'annuler ou de suspendre les prestations.
        </p>
        <p class="align-text-left"><strong>Engagement de durée réduit  :</strong><br>Garantir une flexibilité maximale de nos services : pas d’engagement
          dans la durée, pas de frais de dossier ni de résiliation, possibilité de modifications, suspension, augmentation
          et diminution des volumes d’heures </p>
        <p class="align-text-left"><strong>Assurance  :</strong><br>Nous sommes responsable de nos intervenants, pas de démarche administrative à votre
          charge
        </p>

      </div>
    </div>
    <div class="row spacing-top" [ngsReveal]="{ reset: true}">
      <div class="col-lg-12 ml-auto">
        <h3><strong>Charte de Professionnalisme   </strong></h3>
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <p class="align-text-left"><strong>Sélection rigoureuse de nos intervenants  : </strong><br>Les candidats sont recrutés suite à des entretiens,
          des tests pratiques, un contrôle des références, .leurs expériences, ainsi que leur savoir vivre.. </p>
        <p class="align-text-left"><strong>Formations régulières de nos intervenants  : </strong><br>Tous nos intervenants bénéficient d'un parcours
          individuel de formation ( gestes de 1ers secours, mise en situation d’urgence ...). </p>
      </div>
    </div>

    <div class="row spacing-top" [ngsReveal]="{ reset: true}">
      <div class="col-lg-12 ml-auto">
        <h3><strong>Charte de Personnalisation   </strong></h3>
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <p class="align-text-left"><strong>Visite gratuite d'évaluation : </strong><br>Nous étudions ensemble vos besoins afin de vous proposer le service
          et l'intervenant les mieux adaptés. </p>
        <p class="align-text-left"><strong>Personnalisation de vos prestations  : </strong><br>Plusieurs niveaux de prestations et plusieurs options
          vous sont proposés afin de répondre à tous vos besoins. </p>
        <p class="align-text-left"><strong>Suivi de satisfaction : </strong><br>Nous sommes en permanence à votre écoute pour améliorer nos services.
          Nous effectuons pour cela un suivi régulier et des enquêtes de satisfaction tous les trimestres.</p>
        <p class="align-text-left"><strong>Un interlocuteur unique  </strong></p>

      </div>
    </div>
    <div class="row spacing-top" [ngsReveal]="{ reset: true}">
      <div class="col-lg-12 ml-auto">
        <h3><strong>Charte de Respect   </strong></h3>
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <p class="align-text-left"><strong>Communication : </strong><br>Assurer la meilleure communication possible avec les différents interlocuteurs
          médicaux, paramédicaux et médico-sociaux. </p>
        <p class="align-text-left"><strong>Confidentialité  : </strong><br>Garantir la confidentialité du contenu des dossiers de nos bénéficiaires
          .
        </p>
        <p class="align-text-left"><strong>Médiation   : </strong><br>En cas de litige avec nos services, nous nous engageons à trouver avec vous la
          solution la plus satisfaisante pour tous. Néanmoins, si le conflit perdurait vous pouvez vous adresser au médiateur
          de la République le plus proche de votre domicile </p>

      </div>
    </div>
  </div>
</section>
<!-- About Section -->
<section class="success" id="about" class="section2" [ngsReveal]="{ reset: true}">
  <div class="container">
    <h2 class="text-center">INFOS ET CONSEILS </h2>
    <hr class="star-light">
    <div class="row spacing-top">
      <div class="col-lg-12 ml-auto">
        <h3><strong>Tout savoir sur le CESU    </strong></h3>
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <p class="align-text-left">Créé dans le cadre de la politique conduite pour favoriser les services à la personne, le Chèque emploi service universel
          est en vigueur depuis le 1er janvier 2006. </p>
        <br>
        <p class="align-text-left">C’est une offre proposée aux particuliers pour leur faciliter l’accès à l’ensemble des services à la personne, et
          notamment le soutien scolaire à domicile. </p>
        <br>
        <p class="align-text-left"><strong>Cette offre se présente sous deux formes :</strong></p>
        <br>
        <p class="align-text-left">le CESU bancaire, que vous commandez à votre banque. </p>
        <p class="align-text-left"><strong>le CESU préfinancé :</strong> c’est un titre de paiement à montant prédéfini. Il est financé en tout ou partie
          par une entreprise, un comité d’entreprise, une mutuelle, une caisse de retraite, une collectivité territoriale,...
          </p>
        <br>

      </div>
    </div>
    <div class="row spacing-top">
      <div class="col-lg-12 ml-auto">
        <h3><strong>Les réductions et crédits d'impôt      </strong></h3>
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <p class="align-text-left">Dans le cadre de l’emploi d’un Enseignant à domicile, vous bénéficiez d’une réduction d’impôt égale à 50 % des sommes
          dépensées ou d'un crédit d'impôt pour les familles non imposables répondant aux critères fixés par le ministère
          du travail. Vous demeurez l'employeur du ou des enseignants de vos enfants qui se rendront à votre domicile pour
          dispensez les cours. (art. 199 sexdéciès du Code Général des Impôts).
        </p>
        <br>
        <p class="align-text-left"><strong>Existe-t-il un plafond à cet abattement fiscal ? </strong> </p>
        <p class="align-text-left">Oui, mais il est très élevé : la base qui ouvre droit à cette réduction d’impôt, tous services à domicile confondus,
          est de 13000 €. </p>
        <br>
        <p class="align-text-left"><strong>Qui peut en bénéficier ? </strong> </p>
        <p class="align-text-left">Vous pouvez bénéficier de cette réduction si vous utilisez les services d'un salarié travaillant à temps complet
          ou partiel à votre résidence principale ou secondaire située en France. </p>
        <br>
        <ul>
          <li>
            <p class="align-text-left">Vous devez être fiscalement domicilié(e) en France.</p>
          </li>
          <li>
            <p class="align-text-left">Vous devez remplir aux obligations des URSSAF.</p>
          </li>
        </ul>
        <br>
        <p class="align-text-left"><strong>Qui se charge de remplir les formalités administratives ? </strong> </p>
        <p class="align-text-left">C’est AIDES 78 qui se charge de tout ! </p>
        <br>
        <ul>
          <li>
            <p class="align-text-left">Immatriculation aux URSSAF </p>
          </li>
          <li>
            <p class="align-text-left">Correspondances administratives </p>
          </li>
          <li>
            <p class="align-text-left">Envoi des pièces justificatives pour votre déclaration </p>
          </li>
          <li>
            <p class="align-text-left">Gestion de la paie avec votre Enseignant</p>
          </li>
        </ul>
        <p class="align-text-left">En outre, pas de surprises sur le prix que nous vous annonçons, et pas un seul centime à ajouter. </p>
        <br>
        <p class="align-text-left"><strong>Comment remplir ma déclaration d’impôts ? </strong> </p>
        <p class="align-text-left">Vous indiquerez le montant de la déduction fiscale sur la dernière page de votre déclaration (2042). </p>
        <br>
        <p class="align-text-left">Nous vous ferons parvenir en temps voulu une lettre explicative détaillée et les pièces justificatives ouvrant droit
          à cette réduction (attestation du paiement des salaires, des cotisations sociales, identité du ou des bénéficiaires).
          </p>
        <br>
        <p><a href="http://www.urssaf.fr/profil/particuliers/dossiers_reglementaires/dossiers_reglementaires/l_exoneration_aide_a_domicile_01.html">dossiers reglementaires</a></p>
      </div>
    </div>
  </div>
</section>


