  <!-- Portfolio Grid Section -->
    <section id="portfolio" [ngsReveal]="{ reset: true}">
      <div class="container-fluid">
        <h2 class="text-center">Ménage et repassage</h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-sm-4 portfolio-item">
            <div class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../../assets/img/menage.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-4 portfolio-item">
            <div class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
             <img class="img-fluid" src="../../assets/img/repassage.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-4 portfolio-item">
            <div class="portfolio-link" href="#portfolioModal3" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
             <img class="img-fluid" src="../../assets/img/menage2.jpg" alt="">
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about" [ngsReveal]="{ reset: true}"> 
      <div class="container">
        <h2 class="text-center">Ménage </h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <strong>Vous aimez que votre maison soit propre et accueillante, Mais vous est débordé ! </strong>
          </div>
          <div class="col-lg-4 mr-auto">
            <img class="img-fluid" src="../../assets/img/menage.jpg" alt="">
          </div>
          <div class="col-lg-8 mx-auto text-center">
            <p> Votre espace de vie est à juste titre  l’endroit qui vous tient le plus à cœur. En cas d’absence, ou de perte d’autonomie, ou manque de temps, nous nous chargerons de sa bonne tenue selon vos exigences 
Confier vos tâches ménagères à quelqu’un qui en a fait son métier, et qui se chargera de l’essentiel. Nos personnels de maison sont formés et expérimentés pour effectuer les tâches ménagères au domicile des particuliers </p>
          </div>
        </div>
      </div>
    </section>
        <!-- About Section -->
    <section class="success" id="about" class="section2" [ngsReveal]="{ reset: true}">
      <div class="container">
        <h2 class="text-center">Repassage </h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <strong>Vous aimez que votre linge soit soigné, Vous n'êtes pas un "as" du repassage !</strong>
          </div>
          <div class="col-lg-4 mr-auto">
            <img class="img-fluid" src="../../assets/img/repassage.jpg" alt="">
          </div>
          <div class="col-lg-8 mx-auto text-center">
            <p>Parce que vous ne confiez pas le ménage de votre domicile et le repassage de votre linge à n'importe qui, AIDES 78 vous garantit des prestations de qualité. 
 </p>
          </div>
        </div>
      </div>
    </section>
     

    	    <header class="masthead" [ngsReveal]="{ reset: true}">
      <div class="container">
        <img class="img-fluid" src="img/profile.png" alt="">
        <div class="intro-text">
          <span class="name">Nos différentes chartes de Qualité, Sécurité </span>
          <hr class="star-light">
          <span class="skills"> garantie « satisfait - refait ou remboursé » </span>
          <br>
          <br>
         
           <br>
           <br>
            <span class="skills">  </span>
 
        </div>
         <div class="service1">
           <div class="row">
             <div class=" col-md-6">
               <i class="fa fa-star fa-4x" aria-hidden="true"></i>

           <p>Sélection draconienne de nos intervenants, ils sont formés, et évalués continuellement, par des équipes d’encadrements rigoureuses et disponibles. </p>

             </div>
           </div>
             <div class="row">
             <div class=" offset-md-6 col-md-6">
               <i class="fa fa-star fa-4x" aria-hidden="true"></i>

           <p>50 % de crédit d’impôts : vous  bénéficiez d'une réduction d'impôts de 50% (dans les conditions de l'article 199 sexdéciès du Code Général des Impôts)  </p>

             </div>
           </div>
          </div>
      </div>
    </header>