<!-- Portfolio Grid Section -->
<section id="portfolio" [ngsReveal]="{ reset: true}">
  <div class="container-fluid">
    <h2 class="text-center">Aides aux séniors </h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <div class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="../../assets/img/aidesen.jpg" alt="">
        </div>
      </div>
      <div class="col-sm-4 portfolio-item">
        <div class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
            <img class="img-fluid" src="../../assets/img/aide-senior.jpg" alt="">
        
        </div>
      </div>
      <div class="col-sm-4 portfolio-item">
        <div class="portfolio-link" href="#portfolioModal3" data-toggle="modal">
          <div class="caption">
            <div class="caption-content">
              <i class="fa fa-search-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="../../assets/img/imgseniors.jpg" alt="">
        </div>
      </div>

    </div>
  </div>
</section>

<!-- About Section -->
<section class="success" id="about" [ngsReveal]="{ reset: true}">
  <div class="container">
    <h2 class="text-center">PRÉPARATION DE REPAS ÉQUILIBRÉS </h2>
    <hr class="star-light">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <strong>Bien manger n’est plus un luxe, même si l’on n’a pas les moyens de cuisiner soit même. </strong>
      </div>
      <div class="col-lg-4 mr-auto">
        <img class="img-fluid" src="../../assets/img/aidesen.jpg" alt="">
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <p class="align-text-left">Que l’on soit actif, âgé, handicapé ou malade, préparer le repas n’est pas toujours une mince affaire. Un apport
          alimentaire équilibré est pourtant nécessaire à chacun d’entre nous quotidiennement. <br> Si votre emploi du temps
          est occasionnellement trop chargé, si votre santé est temporairement ou durablement affaiblie ou si votre handicap
          vous empêche de cuisiner, AIDES 78 domicile vous permet de recevoir chez vous une personne qui va réaliser des
          menus équilibrés.

        </p>
      </div>
    </div>
  </div>
</section>
<!-- About Section -->
<section class="success" id="about" class="section2" [ngsReveal]="{ reset: true}">
  <div class="container">
    <h2 class="text-center">ASSISTANCE ADMINISTRATIVE</h2>
    <hr class="star-light">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <strong>Une aide administrative à domicile, la famille de la personne dépendante seconder dans ces taches laborieuses de prise de rendez vous et diverses courrier rébarbatifs… </strong>
        <br>
        <br>
        <strong>Nos conseillères feront pour vous : prise de rendez-vous, courriers, mails mais aussi aide à la constitution du dossier APA, mutuelles, CESU, … </strong>
      </div>
      <div class="col-lg-4 mr-auto">
        <img class="img-fluid" src="../../assets/img/assistnsenior.jpg" alt="">
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <p class="align-text-left">Les personnes âgées ou dépendantes ont beaucoup de mal à faire leurs démarches administratives de plus en plus longues
          et complexes.
        </p>
        <p class="align-text-left">Les assister au quotidien ou ponctuellement pour des tâches courantes, les conseillères d’AIDES 78 proposent une
          <strong>aide administrative à domicile</strong> dans la gestion du courrier, des rendez-vous et des documents divers.
        </p>
      </div>
    </div>
  </div>
</section>




<header class="masthead" [ngsReveal]="{ reset: true}">
  <div class="container">
    <img class="img-fluid" src="img/profile.png" alt="">
    <div class="intro-text">
      <span class="name">Nos différentes chartes de Qualité, Sécurité </span>
      <hr class="star-light">
      <span class="skills"> garantie « satisfait - refait ou remboursé » </span>
      <br>
      <br>

      <br>
      <br>
      <span class="skills">  </span>

    </div>
    <div class="service1">
      <div class="row">
        <div class=" col-md-6">
          <i class="fa fa-star fa-4x" aria-hidden="true"></i>

          <p>Sélection draconienne de nos intervenants, ils sont formés, et évalués continuellement, par des équipes d’encadrements
            rigoureuses et disponibles. </p>

        </div>
      </div>
      <div class="row">
        <div class=" offset-md-6 col-md-6">
          <i class="fa fa-star fa-4x" aria-hidden="true"></i>

          <p>50 % de crédit d’impôts : vous bénéficiez d'une réduction d'impôts de 50% (dans les conditions de l'article 199
            sexdéciès du Code Général des Impôts) </p>

        </div>
      </div>
    </div>
  </div>
</header>