  <!-- Portfolio Grid Section -->
    <section id="portfolio" [ngsReveal]="{ reset: true}">
      <div class="container-fluid">
        <h2 class="text-center">Aides aux devoirs </h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-sm-6 portfolio-item">
            <div class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../../assets/img/devoirs.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-6 portfolio-item">
            <div class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
             <img class="img-fluid" src="../../assets/img/devoirs1.jpg" alt="">
            </div>
          </div>
          <!--<div class="col-sm-4 portfolio-item">
            <div class="portfolio-link" href="#portfolioModal3" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
             <img class="img-fluid" src="../../assets/img/devoirs2.gif" alt="">
            </div>
          </div>-->

        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about" [ngsReveal]="{ reset: true}"> 
      <div class="container">
        <h2 class="text-center">L’évolution de vos enfants au fil du temps !  </h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <strong> </strong>
          </div>
          <div class="col-lg-4 mr-auto">
            <img class="img-fluid" src="../../assets/img/devoirs1.jpg" alt="">
          </div>
     
          <div class="col-lg-8 mx-auto text-center">
                 <br>  
          <br>
            <p>L'enseignant le plus adapté à votre enfant </p>
  <p>  Notre méthode et tous les outils pour sa réussite  </p>
<p>Un service certifié qualité pour toute la famille </p>
          </div>
        </div>
      </div>
    </section>



    	    <header class="masthead" [ngsReveal]="{ reset: true}">
      <div class="container">
        <img class="img-fluid" src="img/profile.png" alt="">
        <div class="intro-text">
          <span class="name">Nos différentes chartes de Qualité, Sécurité </span>
          <hr class="star-light">
          <span class="skills"> garantie « satisfait - refait ou remboursé » </span>
          <br>
          <br>
         
           <br>
           <br>
            <span class="skills">  </span>
 
        </div>
         <div class="service1">
           <div class="row">
             <div class=" col-md-6">
               <i class="fa fa-star fa-4x" aria-hidden="true"></i>

           <p>Sélection draconienne de nos intervenants, ils sont formés, et évalués continuellement, par des équipes d’encadrements rigoureuses et disponibles. </p>

             </div>
           </div>
             <div class="row">
             <div class=" offset-md-6 col-md-6">
               <i class="fa fa-star fa-4x" aria-hidden="true"></i>

           <p>50 % de crédit d’impôts : vous  bénéficiez d'une réduction d'impôts de 50% (dans les conditions de l'article 199 sexdéciès du Code Général des Impôts)  </p>

             </div>
           </div>
          </div>
      </div>
    </header>