<div class="align">
<div class="container">
  <carousel>
    <slide>
      <img  height="500" width="100%"  src="assets/img/carousel1.jpg" alt="First slide">
    </slide>
    <slide>
      <img  height="500" width="100%"  src="assets/img/garde d'enfants.jpg" alt="Second slide">
    </slide>
    <slide>
      <img  height="500" width="100%"  src="assets/img/JARDINAGEBRICOLAGE.jpg" alt="Third slide">
    </slide>
  </carousel>
</div>

<div class="row1 " [ngsReveal]="{ reset: true}" >
  <h2  >QUI SOMMES-NOUS</h2>
  <p>Partenaire de votre quotidien, notre ambition est de participer à un nouvel art de vie qui permettrait de ne  plus se préoccuper des corvées ménagères, et de savoir sur qui compter en cas de besoin. 
Parce que le choix d’une aide à domicile pour vous ou vos proches est bien souvent source d’embarras et d’inquiétudes, notre association souhaite vous assister dans cette démarche en mettant à votre disposition leur expérience et leur savoir-faire pour répondre au mieux à vos attentes. </p>
</div>
<div class="row2">
  <h2>NOS SERVICES</h2>
</div><div class="row3" [ngsReveal]="{ reset: true}">
  
  <div> <br><br><br><br><br><br><br><br><p>  <br> Ménage, repassage, nettoyage de vitres, grand nettoyage intérieur & extérieur</p></div>
</div><div class="row4">
  <h2> </h2>
</div>
<div class="row5" [ngsReveal]="{ reset: true}">
  <div> <br><br><br><br><br><br><br><br><p> Garde d'enfant , <br> aide aux devoirs, <br> accompagnement..</p></div>
</div><div class="row6">
  <h2> </h2>
</div>

<div class="row7" [ngsReveal]="{ reset: true}">
  <div> <br><br><br><br><br><br><br><br><p> Jardinage et bricolage </p></div>
</div>
<div class="row4">
  <h2> </h2>
</div>
</div><div class="row5 rowsen" [ngsReveal]="{ reset: true}">
  <div> <br><br><br><br><br><br><br><br><p> Aides aux séniors </p></div>
</div>

 <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>
