@font-face
  font-family: MontereyFLF
  src: url(../../assets/fonts/TitilliumWeb-Regular.ttf)
body
  font-family: 'MontereyFLF','Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif
  overflow-x: hidden
p
 font-size: 1.75em
 font-family: MontereyFLF