<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded navbar-custom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" routerLink="/"><i class="fa fa-home" aria-hidden="true"></i>
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">
      <li class="nav-item">
        <a class="nav-link" href="#">ESPACE SALARIÉ</a>
      </li>
      <li *ngIf="auth.currentUser" class="nav-item">
        <a class="nav-link" routerLink="/espace">ESPACE CLIENT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">RECRUTEMENT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">À PROPOS DE NOUS</a>
      </li>
      <li *ngIf="!auth.currentUser"  class="nav-item">
        <a class="nav-link" routerLink="/login" >SE CONNECTER</a>
      </li>
      <li *ngIf="!auth.currentUser"  class="nav-item">
        <a class="nav-link"  routerLink="/signup">S'INSCRIRE</a>
      </li>
      <li *ngIf="auth.currentUser"  class="nav-item">
        <a class="nav-link"  (click)="logout()" >DÉCONNECTER</a>
      </li>
      <!--<li *ngIf="auth.currentUser"  class="nav-item">
        <a class="nav-link"   >HISTORIQUE</a>
      </li>-->
    </ul>

  </div>

  <i class="fa fa-facebook fa-2x hidden-md-down" aria-hidden="true"></i>
  <i class="fa fa-twitter fa-2x hidden-md-down" aria-hidden="true"></i>
  <i class="fa fa-linkedin fa-2x hidden-md-down" aria-hidden="true"></i>
  <i class="fa fa-google-plus fa-2x hidden-md-down" aria-hidden="true"></i>

</nav>


<nav class="navbar navbar-light navbar-toggleable-sm bg-faded justify-content-center d-flex align-items-stretch no_botpad margin100">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="/" class="navbar-brand d-flex w-50 mr-auto">
    <div class="logo"></div>
  </a>
  <button type="button" class="btn btn-success" (click)="openModal(template)">DEVIS EXPRESS</button>

  <div class="navbar-collapse collapse " id="collapsingNavbar3">


    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">

      <li class="nav-item d-flex align-items-center col7">
        <a class="nav-link" routerLink="/aide">AIDE A DOMICILE</a>
      </li>
      <li class="nav-item d-flex align-items-center col2">
        <a class="nav-link" routerLink="/garde">GARDE D'ENFATNS</a>
      </li>
      <li class="nav-item d-flex align-items-center col4">
        <a class="nav-link" routerLink="/devoir">AIDES AUX DEVOIRS</a>
      </li>
      <li class="nav-item d-flex align-items-center col3">
        <a class="nav-link" routerLink="/jardinage">JARDINAGE/
          BRICOLAGE</a>
      </li>
      <li class="nav-item d-flex align-items-center col5">
        <a class="nav-link" routerLink="/senior">AIDES AUX SENIORS</a>
      </li>

    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="container-fluid w-100 bg-faded">
  <div class="container-fluid">
    <div class="col-md-4 margin100">
      <!--<div class="row" >
        <div class="col-md-3"><p><i class="fa fa-map-marker fa-3x" aria-hidden="true"></i></p></div><div class="col-md-4"><p>18, Rue Marceau - 78800 Houilles</p></div>
      </div>
        <div class="row">
        <div class="col-md-3"><p><i class="fa fa-mobile fa-3x" aria-hidden="true"></i></p></div><div class="col-md-4"><p>01 75 26 24 06</p></div>
      </div>
        <div class="row">
        <div class="col-md-3">
         <p>
            <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
         </p>
          </div>
         <div class="col-md-3"> <p>aides78@hotmail.fr</p> </div>
      </div>-->
      <p class="text-left"><i class="fa fa-map-marker fa-4x" aria-hidden="true"></i><br><strong>18, Rue Marceau - 78800 Houilles</strong></p>
      <p class="text-left"><i class="fa fa-mobile fa-5x" aria-hidden="true"></i><br><strong>01 75 26 24 06</strong></p>
      <p class="text-left"><i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i><br><strong>aides78@hotmail.fr</strong></p>

    </div>

    <div class="col-md-4 mx-auto">
      <h3 class="text-left" style="color:white">
        <strong> À Propos de AIDES78</strong>

      </h3>
      <br>
      <p style="text-align:justify">Partenaire de votre quotidien, notre ambition est de participer à un nouvel art de vie qui permettrait de ne plus se
        préoccuper des corvées ménagères, et de savoir sur qui compter en cas de besoin. Parce que le choix d’une aide à
        domicile pour vous ou vos proches est bien souvent source d’embarras et d’inquiétudes, notre association souhaite
        vous assister dans cette démarche en mettant à votre disposition leur expérience et leur savoir-faire pour répondre
        au mieux à vos attentes. </p>
      <br>
      <p class="text-left">
        Menage, repassage a domicile - Aides 78 - Yvelines
      </p>
      <br>
      <br> <br>
      <br>
      <p> <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></p>

    </div>
    <div class="col-md-4 mx-auto">
      <div class="row">
        <div class=" col-md-12 margin100 ">
          <div class="text-right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2621.4547923490054!2d2.182630915464606!3d48.92577890391372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e663f1717fa60f%3A0xc33d24bbc2fe5634!2s18+Rue+Marceau%2C+78800+Houilles%2C+France!5e0!3m2!1sen!2stn!4v1503187360261"
              width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

          </div>



        </div>
      </div>
    </div>
  </div>

</footer>
<template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left"></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form action="/mail.php" method="post">
  <fieldset class="form-group">
    <legend>Je souhaite :</legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        Un devis d'AIDES78
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
       Travailler chez AIDES78
      </label>
    </div>

  </fieldset>
  <div class="form-check">
     <legend>Votre besoin :	</legend>
    <label class="form-check-label">
      <input name="domicile" type="checkbox" class="form-check-input">
     AIDE A DOMICILE
    </label>
      <br>
     <label class="form-check-label">
      <input name="garde" type="checkbox" class="form-check-input">
      GARDE D'ENFATNS
    </label>
      <br>
     <label class="form-check-label">
      <input name="devoir" type="checkbox" class="form-check-input">
     AIDES AUX DEVOIRS
    </label>
      <br>
     <label class="form-check-label">
      <input name="jard" type="checkbox" class="form-check-input">
     JARDINAGE/
          BRICOLAGE
    </label>
    <br>
     <label class="form-check-label">
      <input  name="senior" type="checkbox" class="form-check-input">
     AIDES AUX SENIORS
    </label>

  </div>
    <fieldset class="form-group">
    <legend></legend>
    <div class="form-check">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="gender" id="optionsRadios1" value="option1" >
        MME
      </label>
    </div>
    <div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="gender" id="optionsRadios2" value="option2">
       M
      </label>
    </div>

  </fieldset>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</template>
