/* You can add global styles to this file, and also import other style files */
/* change the background color

.navbar-custom
  background-color: #03A9F4
  position: fixed
  .navbar-brand, .navbar-text, .navbar-nav .nav-link
    color: white
  .nav-item
    &.active .nav-link, &:hover .nav-link
      color: rgba(255, 255, 255, 0.7)

/* change the brand and text color

/* change the link color

/* change the color of active or hovered links
.margin100
 margin-top: 100px
.custom-nav ul li
  margin-top: auto
  width: auto

.logo
  background-image: url(../assets/img/aide.png)
  background-position: center
  background-size: 100%
  margin-top: -20px
  height: 70px
  width: 70px

.col1
  background-color: #FF9800

.col2
  background-color: #FF5722

.col3
  background-color: #4CAF50

.col4
  background-color: #673AB7

.col5
  background-color: #E91E63

.col6
  background-color: #F44336

.col7
  background-color: #FFC107

.navbar-light .navbar-nav .nav-link
  color: white

.no_botpad
  padding-bottom: 0
  padding-right: 0
/*rows styling

.row1
  margin-top: -10px

  p
    padding: 5%
  h2
    text-align: center

.row2
  background-color: #3f51b5

.row2 h2
  margin-top: 5%
  padding: 5%
  text-align: center
  -webkit-text-fill-color: white

.row3
  margin-top: -10px

  background-image: url("../assets/img/MENAGEREPASSAGE.jpg")
  background-repeat: no-repeat
  background-size: 105% 500px

.row3 div
  background-color: #ff9800
  width: 300px
  height: 500px
  margin-left: 1000px

.row3 p
  -webkit-text-fill-color: white
  font-size: 24px
  text-align: center

.row4
  margin-top: -20px

  background-color: #3f51b5

.row4 h2
  padding: 3%
  text-align: center
  -webkit-text-fill-color: white

.row5
  margin-top: -20px
  background-image: url("../assets/img/garde d'enfants.jpg")
  background-repeat: no-repeat
  background-size: 105% 500px


.row5 div
  background-color: #ff5722
  width: 300px
  height: 500px

.row5 p
  -webkit-text-fill-color: white
  font-size: 24px
  text-align: center

.row6
  margin-top: -20px

  background-color: #3f51b5

.row6 h2
  padding: 3%
  text-align: center
  -webkit-text-fill-color: white

.row7
  margin-top: -20px

  background-image: url("../assets/img/JARDINAGEBRICOLAGE.jpg")
  background-repeat: no-repeat
  background-size: 105% 505px

.row7 div
  background-color: #4caf50
  width: 300px
  height: 500px
  margin-left: 1000px

.row7 p
  -webkit-text-fill-color: white
  font-size: 24px
  text-align: center

.row8
  margin-top: -20px

  background-color: #3f51b5

.row8 h2
  padding: 3%
  text-align: center
  -webkit-text-fill-color: white




footer
  margin-top: -10px

  background-color: black
footer ul
  padding-left: 40px

footer ul li
  -webkit-text-fill-color: white
  font-size: 20px
  padding: 20px
footer img
  height: 60px
footer p 
  text-align: center
  color: white
   

footer h3
 margin-top: 100px
 text-align: center
  color: white

i
 color: white
 margin-right: 10px


.text-right
 text-align: right

.text-left
 text-align: left