<div class="row">

  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">

    <form (ngSubmit)="onSignup(f)" #f="ngForm">

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="email">Confirmer email</label>
        <input type="email" id="conf_email" name="conf_email" ngModel class="form-control">
      </div>


      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Confirmer mot de passe</label>
        <input type="password" id="conf_password" name="conf_password" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="addpost">Addresse postale</label>
        <input type="text" id="addpost" name="addpost" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="portable">Tél. portable</label>
        <input type="text" id="portable" name="portable" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="fix">Tél. fix</label>
        <input type="text" id="fix" name="fix" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" id="nom" name="nom" ngModel class="form-control">
      </div>
      <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" id="prenom" name="prenom" ngModel class="form-control">
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">S'inscrire</button>
    </form>

  </div>

</div>
