  <!-- Portfolio Grid Section -->
    <section id="portfolio" [ngsReveal]="{ reset: true}">
      <div class="container-fluid">
        <h2 class="text-center">Jardinage et bricolage </h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-sm-4 portfolio-item">
            <div class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../../assets/img/jardinage.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-4 portfolio-item">
            <div class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
             <img class="img-fluid" src="../../assets/img/bricolage.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-4 portfolio-item">
            <div class="portfolio-link" href="#portfolioModal3" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
             <img class="img-fluid" src="../../assets/img/jardinage2.jpeg" alt="">
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about" [ngsReveal]="{ reset: true}"> 
      <div class="container">
        <h2 class="text-center">PETITS TRAVAUX DE JARDINAGE </h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <strong>L’entretien de vos espaces verts au fil du temps !   </strong>
          </div>
          <div class="col-lg-4 mr-auto">
            <img class="img-fluid" src="../../assets/img/jardinage.jpg" alt="">
          </div>
          <div class="col-lg-8 mx-auto text-center">
            <p class="align-text-left"> Contactez nous !!! Nous vous mettrons en relation avec nos jardiniers qualifiés. Une étude à votre domicile sera réalisé pour évaluer  vos besoins et vous la solution la mieux adapté...  <br><br>
Notre large éventail de compétence nous permettra satisfaire le moindre de vos projets, nous avons le personnel approprié et qualifié qui réalisera vos désirs. De plus vous avez la possibilité de recruter plusieurs personnes pour gagner du temps. <br><br>
Nos jardiniers interviennent chez vous pour réaliser divers travaux de jardinage et terrassement : tels que tondre la pelouse, ramasser les feuilles mortes, entretenir les massifs, bêcher, planter, créer un chemin, un bassin ... C'est vous qui choisissez vos  prestations !  
 </p>
          </div>
        </div>
      </div>
    </section>
        <!-- About Section -->
    <section class="success" id="about" class="section2" [ngsReveal]="{ reset: true}">
      <div class="container">
            <h2 class="text-center">PETITS TRAVAUX DE BRICOLAGE </h2>
            <hr class="star-light">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                  <strong>L’entretien de Votre Maison ou Appartement en toute tranquillité!</strong>
                  <br>
                  <br>
                  <strong>Vous n'avez pas l'âme d'un bricoleur ou vous n'aimez pas perdre du temps ou simplement pas envi ! Nous avons l’équipe de la situation, il prend en charge tous vos petits problèmes de bricolage !</strong>
                </div>
                <div class="col-lg-4 mr-auto">
                  <img class="img-fluid" src="../../assets/img/bricolage.jpg" alt="">
                </div>
                <div class="col-lg-8 mx-auto text-center">
                  <br>
                    <p class="align-text-left"><strong>ELECTRICITE: </strong>Câblages, pose d'appliques murales, rajout de prises électriques et interrupteurs, Installation d’éclairage extérieurs…
                    </p>
                     <br>
                     <p class="align-text-left"><strong>MENUISERIE: </strong> Retouche de porte ou fenêtre, Montage de meubles en kit, installation complète de cuisine équipée, ponçage des volets et clôtures en bois... </p>
                      <br>
                     <p class="align-text-left"><strong>TRAVAUX D’EXTERIEUR ou D'INTERIEUR: </strong> : Réalisation de chape, Maçonnerie, Murs ou murette, Pose de grillage Pose de papier peint, peinture, pose de lino, moquette, parquet flottant, dalles, carrelage... </p>
                <br>
                     <p class="align-text-left"><strong>PLOMBERIE: </strong>  Réparation fuites, pose de sanitaires, lavabos, éviers, baignoires, pose de gouttières, pose de robinets extérieurs, installation de récupérateurs d'eau...  </p>
               
                </div>
          </div>
      </div>
    </section>
     

    	    <header class="masthead" [ngsReveal]="{ reset: true}">
      <div class="container">
        <img class="img-fluid" src="img/profile.png" alt="">
        <div class="intro-text">
          <span class="name">Nos différentes chartes de Qualité, Sécurité </span>
          <hr class="star-light">
          <span class="skills"> garantie « satisfait - refait ou remboursé » </span>
          <br>
          <br>
         
           <br>
           <br>
            <span class="skills">  </span>
 
        </div>
         <div class="service1">
           <div class="row">
             <div class=" col-md-6">
               <i class="fa fa-star fa-4x" aria-hidden="true"></i>

           <p>Sélection draconienne de nos intervenants, ils sont formés, et évalués continuellement, par des équipes d’encadrements rigoureuses et disponibles. </p>

             </div>
           </div>
             <div class="row">
             <div class=" offset-md-6 col-md-6">
               <i class="fa fa-star fa-4x" aria-hidden="true"></i>

           <p>50 % de crédit d’impôts : vous  bénéficiez d'une réduction d'impôts de 50% (dans les conditions de l'article 199 sexdéciès du Code Général des Impôts)  </p>

             </div>
           </div>
          </div>
      </div>
    </header>