@font-face
  font-family: MontereyFLF
  src: url(../../assets/fonts/TitilliumWeb-Regular.ttf)
body
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif
  overflow-x: hidden

p
  font-size: 20px
  &.small
    font-size: 16px

a
  color: #18BC9C
  outline: none
  &.active, &:active, &:focus, &:hover
    color: #18BC9C
    outline: none

h1, h2, h3, h4, h5, h6
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight: 700
  text-transform: uppercase

hr
  &.star-light, &.star-primary
    max-width: 250px
    margin: 25px auto 30px
    padding: 0
    text-align: center
    border: none
    border-top: solid 5px
  &.star-light:after, &.star-primary:after
    font-family: FontAwesome
    font-size: 2em
    position: relative
    top: -.8em
    display: inline-block
    padding: 0 0.25em
    content: '\f005'
  &.star-light
    border-color: white
    &:after
      color: white
      background-color: #18BC9C
  &.star-primary
    border-color: #2C3E50
    &:after
      color: #2C3E50
      background-color: white

.img-centered
  margin: 0 auto

section
  padding: 100px 0
  h2
    font-size: 3em
    margin: 0
  &.success
    color: white
    background: #18BC9C

@media (max-width: 767px)
  section
    padding: 75px 0
    &.first
      padding-top: 75px

#portfolio
 
  .portfolio-item
    right: 0
    margin: 0 0 15px
    .portfolio-link
      position: relative
      display: block
      max-width: 400px
      margin: 0 auto
      cursor: pointer
      .caption
        position: absolute
        width: 100%
        height: 100%
        -webkit-transition: all ease 0.5s
        -moz-transition: all ease 0.5s
        transition: all ease 0.5s
        opacity: 0
        &:hover
          opacity: 1
        .caption-content
          font-size: 20px
          position: absolute
          top: 50%
          width: 100%
          height: 20px
          margin-top: -12px
          text-align: center
          color: white
          i
            margin-top: -12px
          h3, h4
            margin: 0
  *
    z-index: 2
    background:  #FF5722;
    color: white;
    padding-top: 40px

@media (min-width: 767px)
  #portfolio .portfolio-item
    margin: 0 0 30px

.portfolio-modal
  .modal-dialog
    max-width: 100%
    min-height: 100%
    margin: 0
    padding: 0
    text-align: center
    border: none
    border-radius: 0
    background-clip: border-box
    -webkit-box-shadow: none
    box-shadow: none
    .modal-content
      padding: 100px 0
      border: 0
      border-radius: 0
      h2
        font-size: 3em
        margin: 0
      img
        margin-bottom: 30px
      .item-details
        margin: 30px 0
  .close-modal
    position: absolute
    top: 25px
    right: 25px
    width: 75px
    height: 75px
    cursor: pointer
    background-color: transparent
    &:hover
      opacity: 0.3
    .lr
      /* Safari and Chrome*/
      z-index: 1051
      width: 1px
      height: 75px
      margin-left: 35px
    
      -webkit-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      transform: rotate(45deg)
      background-color: blue
      .rl
      
        z-index: 1052
        width: 1px
        height: 75px
    
        -webkit-transform: rotate(90deg)
        -ms-transform: rotate(90deg)
        transform: rotate(90deg)
        background-color: blue
  .modal-backdrop
    display: none
    opacity: 0


header.masthead
  padding-top: 100px
  padding-bottom: 50px
  text-align: center
  color: white
  background:  #FF5722;
  img
    display: block
    margin: 0 auto 20px
  .service1
    p
     text-align: left
     font-family: MontereyFLF
    
  .intro-text
    .name
      font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif
      font-size: 2em
      font-weight: 700
      display: block
      text-transform: uppercase
    .skills
      font-size: 1.25em
      font-weight: 300

@media (min-width: 768px)
  header.masthead
    padding-top: 200px
    padding-bottom: 100px
    .intro-text
      .name
        font-size: 4.75em
      .skills
        font-size: 1.75em
        font-family: MontereyFLF