  <!-- Portfolio Grid Section -->
    <section id="portfolio" [ngsReveal]="{ reset: true}">
      <div class="container-fluid">
        <h2 class="text-center">Garde d’enfants </h2>
        <hr class="star-primary">
        <div class="row">
          <div class="col-sm-4 portfolio-item">
            <div class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="../../assets/img/garde.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-4 portfolio-item">
            <div class="portfolio-link" href="#portfolioModal2" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
             <img class="img-fluid" src="../../assets/img/garde.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-4 portfolio-item">
            <div class="portfolio-link" href="#portfolioModal3" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
             <img class="img-fluid" src="../../assets/img/garde.jpg" alt="">
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about" [ngsReveal]="{ reset: true}"> 
      <div class="container">
        <h2 class="text-center">Sortie d'école </h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <strong>Peur d’être en retard, une impossibilité d’aller chercher votre ou vos  enfants à l’école ? Nous avons la solution !  </strong>
          </div>
          <div class="col-lg-4 mr-auto">
            <img class="img-fluid" src="../../assets/img/garde.jpg" alt="">
          </div>
          <div class="col-lg-8 mx-auto text-center">
            <p> Nos intervenants prennent soin de vos enfants de la sortie de l'école ou de la crèche, ou le les ramène à votre domicile ou les emmène à leurs activités extrascolaires. 
Ils les font  du goûter, joue avec, surveillent la toilette, donnent  le diner préparé par vos soins, s'occupe du coucher.  
 </p>
          </div>
        </div>
      </div>
    </section>
        <!-- About Section -->
    <section class="success" id="about" class="section2" [ngsReveal]="{ reset: true}">
      <div class="container">
        <h2 class="text-center">Eveil </h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <strong>Une garde oui, mais active parce que c’est a cet âge que les apprentissages sont les plus importants, et que nous voulons participer a l’éveil de votre enfant ! </strong>
          </div>
          <div class="col-lg-4 mr-auto">
            <img class="img-fluid" src="../../assets/img/garde.jpg" alt="">
          </div>
          <div class="col-lg-8 mx-auto text-center">
            <p>Nos intervenants, sont tous titulaires du BAFA, d'un diplôme spécialisé ou dotés d'une très grande expérience. Aussi appelés Animateur ils auront a cœur de faire découvrir le monde a vos enfants.  
 </p>
          </div>
        </div>
      </div>
    </section>
     <section class="success" id="about"  [ngsReveal]="{ reset: true}">
      <div class="container">
        <h2 class="text-center">Soirée des parents </h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <strong>Besoin de quelques heures ? Pour vous, votre couple, un repas ? AIDES 78 est là ! Attention au fausse nounou, préférez une solution professionnelle et encadré appelez nous !!!  
 </strong>
          </div>
          <div class="col-lg-4 mr-auto">
             <img class="img-fluid" src="../../assets/img/garde.jpg" alt="">
          </div>
          <div class="col-lg-8 mx-auto text-center">
           
          </div>
        </div>
      </div>
    </section>
         <section class="success" id="about" class="section2" [ngsReveal]="{ reset: true}">
      <div class="container">
        <h2 class="text-center">Garde alterné </h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-4 ml-auto">
          
          </div>
          <div class="col-lg-4 mr-auto">
             <img class="img-fluid" src="../../assets/img/garde.jpg" alt="">
          </div>
          <div class="col-lg-8 mx-auto text-center">
           <p>Une semaine, notre intervenant(e) vient garder les enfants à votre domicile et la semaine suivante, au domicile de la 2ème famille. 
 </p>
          </div>
        </div>
      </div>
    </section>
             <section class="success" id="about" [ngsReveal]="{ reset: true}" >
      <div class="container">
        <h2 class="text-center">Garde petit enfants </h2>
        <hr class="star-light">
        <div class="row">
          <div class="col-lg-4 ml-auto">
          <strong>C’est impératif il vous faut un  professionnel de la petite enfance pour la garde de votre jeune enfant Pas de prise de risque inutile ! </strong>
          </div>
          <div class="col-lg-4 mr-auto">
             <img class="img-fluid" src="../../assets/img/garde.jpg" alt="">
          </div>
          <div class="col-lg-8 mx-auto text-center">
           <p>Grâce à son très haut niveau d'expertise notre gouvernante prendre en charge tout l’environnement proche de votre enfants, elle s’occupe de tout… </p>
          </div>
        </div>
      </div>
    </section>

    	    <header class="masthead" [ngsReveal]="{ reset: true}">
      <div class="container">
        <img class="img-fluid" src="img/profile.png" alt="">
        <div class="intro-text">
          <span class="name">Nos différentes chartes de Qualité, Sécurité </span>
          <hr class="star-light">
          <span class="skills"> garantie « satisfait - refait ou remboursé » </span>
          <br>
          <br>
         
           <br>
           <br>
            <span class="skills">  </span>
 
        </div>
         <div class="service1">
           <div class="row">
             <div class=" col-md-6">
               <i class="fa fa-star fa-4x" aria-hidden="true"></i>

           <p>Sélection draconienne de nos intervenants, ils sont formés, et évalués continuellement, par des équipes d’encadrements rigoureuses et disponibles. </p>

             </div>
           </div>
             <div class="row">
             <div class=" offset-md-6 col-md-6">
               <i class="fa fa-star fa-4x" aria-hidden="true"></i>

           <p>50 % de crédit d’impôts : vous  bénéficiez d'une réduction d'impôts de 50% (dans les conditions de l'article 199 sexdéciès du Code Général des Impôts)  </p>

             </div>
           </div>
          </div>
      </div>
    </header>