<div *ngIf="permission">
  <div class="container">
    <h2>Panel Admin</h2>
    <p></p>
    <ul class="nav nav-pills">
      <li class="active"><a data-toggle="pill" href="#home">Liste des clients</a></li>
      <li><a data-toggle="pill" href="#menu1">Liste des commandes</a></li>
   
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">

        <!--<ul class="list-group">
    <li class="list-group-item" *ngFor="let item of list | async">
       {{ item.nom }}
    </li>
  </ul>-->
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">Clients</div>

          <!-- Table -->
          <table class="table">
            <tr>
              <th>Prénom</th>
              <th>nom</th>
              <th>E-mail</th>
              <th>Téléphone</th>
            </tr>
            <tr *ngFor="let item of list | async">
              <td>{{ item.prenom }}</td>
              <td>{{ item.nom }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.tel_portable }}</td>


            </tr>
          </table>
        </div>
      </div>
      <div id="menu1" class="tab-pane fade">
        <h3></h3>
            <div class="container">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Historique</div>

            <!-- Table -->
            <table class="table">
              <tr>
                <th>Service</th>
                <th>Mode</th>
                <th>Type</th>
                <th>date</th>
                <th>date</th>
                <th>Vérifier</th>
              </tr>
              <ng-container *ngFor="let item of commandes | async" >
              <tr *ngIf="!item.verified" >
                <td >{{ item.selectedService }}</td>
                <td>{{ item.selectedMode }}</td>
                <td>{{ item.selectedType }}</td>
                <td>{{ item.datemin }}</td>
                <td>{{ item?.datemax }}</td>
                <td><button type="button" (click)="approve(item.id,item.userId)" class="btn btn-success">Verifié</button></td>
              </tr>
             </ng-container>
           
            </table>
          </div>
        </div>
      </div>
  
  
    </div>
  </div>
</div>
<div *ngIf="!permission">
  <div class="container">
    <h2></h2>
    <ul class="nav nav-pills">
      <li><a data-toggle="pill" href="#home">Commander un service </a></li>
      <li><a data-toggle="pill" href="#menu1">Historique</a></li>
    </ul>

    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <div class="container">
          <div class="form-group">
            <label>service</label>
            <select [(ngModel)]="selectedService">
        <option *ngFor="let c of services" [ngValue]="c">{{c.name}}</option>
      </select>
            <div *ngIf="selectedService?.id == 4">
              <div class="form-group">
                <label>Nombre</label>

                <input [(ngModel)]="selectednumber" type="number" name="quantity" min="1" max="10">


              </div>

            </div>
          </div>
          <div class="form-group">
            <label>Type de contrat </label>
            <select [(ngModel)]="selectedType" required>
        <option *ngFor="let c of Types" [ngValue]="c">{{c.name}}</option>
      </select>
            <div *ngIf="selectedType?.id==2">
              <label for=""> date min</label>
              <input [(ngModel)]="datemin" type="date" name="datemin" required>
              <label for=""> date max</label>
              <input [(ngModel)]="datemax" type="date" name="datemax" required>
            </div>
            <div *ngIf="selectedType?.id==1">
              <label for=""> date</label>
              <input [(ngModel)]="datemin" type="date" name="datemin" required>
            </div>
          </div>
          <div class="form-group">
            <label>mode de paiement </label>
            <select [(ngModel)]="selectedMode" required>
              <option *ngFor="let c of Mode " [ngValue]="c">{{c.name}}</option>
            </select>

          </div>
          <div class="form-group">
            <button type="button" (click)="commander()" class="btn btn-success">Commander</button>
          </div>
        </div>
      </div>
      <div id="menu1" class="tab-pane fade">
        <h3></h3>
        <div class="container">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Historique</div>

            <!-- Table -->
            <table class="table">
              <tr>
                <th>Service</th>
                <th>Mode</th>
                <th>Type</th>
                <th>date</th>
                <th>date</th>
                <th>Vérifier</th>
              </tr>
              <tr *ngFor="let item of historique | async">
                <td>{{ item.selectedService }}</td>
                <td>{{ item.selectedMode }}</td>
                <td>{{ item.selectedType }}</td>
                <td>{{ item.datemin }}</td>
                <td>{{ item?.datemax }}</td>
                <td>{{ item.verified }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>